*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

# nuget
nuget/lib/
nuget/tools/
nuget/*.nupkg

packages/


syntax: regex
[Oo]bj/
/src/[^/]*/[Bb]in/
/src/**/[Bb]in/
*_ReSharper.*
/TestResult\.xml
*.Resharper

syntax: glob
*.suo
*.csproj.user
*.Resharper.user
*.TeamCity.user
*.DotSettings.user
*.orig
*.bak
*.*~
*.swp
*.ncrunchproject
*.ncrunchsolution
*.crunchsolution.cache
*.ncrunchsolution.user
